@CHARSET "utf-8";

body {
   text-align: center;
   margin: 0px
}

#wrap {
   width: 1280px;
   height: 1024px;
   display: inline-block;
}

#bodywrap {
   border: 1px solid black;
   width: 850px;
   height: 1000px;
   margin: 0px auto;
   background-repeat: no-repeat;
   background-image: url("../img/homepage.jpg");
   background-size: 100%;
}

#maintitle {
   border: 1px solid pink;
   width: 850px;
   height: 200px;
   margin: 20px 0px;
}

#maintitle1 {
   width: 450px;
   height: 200px;
   border: 1px dotted aqua;
   display: inline-block;
   float: left;
}

#maintitle2 {
   width: 350px;
   height: 200px;
   border: 1px dotted aqua;
   display: inline-block;
   float: right;
}

#search {
   width: 350px;
   height: 90px;
   border: 1px solid blue;
   margin-bottom: 15px;
}

#coupon_board {
   width: 350px;
   height: 90px;
   border: 1px solid blue;
}

#mainbody {
   width: 850px;
   height: 200px;
   border: 1px solid blue;
   margin: 20px 0px;
}

#mainbody1 {
   width: 240px;
   height: 200px;
   border: 1px double black;
   display: inline-block;
   float: left;
}

#mainbody2 {
   width: 240px;
   height: 200px;
   border: 1px double black;
   display: inline-block;
}

#mainbody3 {
   width: 240px;
   height: 200px;
   border: 1px double black;
   display: inline-block;
   float: right;
}

#mainbottom {
   width: 850px;
   height: 195px;
   border: 1px dotted fuchsia;
   margin: 20px 0px;
}

#mainbottom1 {
   width: 390px;
   height: 195px;
   border: 1px double blue;
   display: inline-block;
   float: left;
}

#mainbottom2 {
   width: 390px;
   height: 195px;
   border: 1px double pink;
   display: inline-block;
   float: right;
}

#headerinner img {
   width: 150px;
   height: 50px;
}

#headerinner {
   width: 100%;
   display: inline-block;
   text-align: left;
   font-family: "Typo_Papyrus B";
   font-size: 20px;
   background-color: red;
}

#bodywrap {
   width: 100em;
   height: 100em;
   display: inline-block;
}

#footerinner img {
   width: 50px;
   height: 50px;
}

#footerinner p {
   text-align: center;
   font-family: "Typo_Papyrus B";
}